@page "{id:int}"
@model booky2.Pages.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Book.Title</h1>

<form method="POST">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Book.Title"></label>
        <div>
            <input asp-for="Book.Title" />
        </div>
    </div>
    <div>
        <label asp-for="Book.Genre"></label>
        <div>
            <input asp-for="Book.Genre" />
        </div>
    </div>
    <div>
        <label asp-for="Book.Author.FirstName"></label>
        <div>
            <input asp-for="Book.Author.FirstName" />
        </div>
    </div>
    <div>
        <label asp-for="Book.Author.LastName"></label>
        <div>
            <input asp-for="Book.Author.LastName" />
        </div>
    </div>
    <div>
        <label asp-for="Book.Price"></label>
        <div>
            <input asp-for="Book.Price" />
        </div>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>