@page "{id:int}"
@model booky2.Pages.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Book.Title</h1>

<form method="POST">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Book.Title"></label>
        <div>
            <input asp-for="Book.Title" />
        </div>
    </div>
    <div>
        <label asp-for="Book.Genre"></label>
        <div>
            <input asp-for="Book.Genre" />
        </div>
    </div>
    <div>
        <label asp-for="FirstNameOfAuthor"></label>
        <div>
            <input asp-for="FirstNameOfAuthor" />
        </div>
    </div>
    <div>
        <label asp-for="LastNameOfAuthor"></label>
        <div>
            <input asp-for="LastNameOfAuthor" />
        </div>
    </div>
    <div>
        <label asp-for="Book.Price"></label>
        <div>
            <input asp-for="Book.Price" />
        </div>
    </div>
    <input type="submit" />
</form>